.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.gif-container {
  width: 100%
}

div {
  padding: 10px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
}

li:hover {
  cursor: pointer;
}

.list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.card {
  padding: 10px;
  border: 1px solid black;
}


img {
  max-width: 400px;
  max-height: 400px;
}
