.App {
  text-align: center;
  font-size: large;
}

.App-title {
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
  margin: 0;
  margin-top: .5em;
}

.magnifying {
  width: 6em;
}

@media only screen and (max-device-width : 500px) {
  .App {
    text-align: center;
    font-size: medium;
  }

  .App-header {
    width: 90%;
  }
  .App-title {
    font-weight: 700;
    font-style: italic;
    font-size: 1.2em;
  }
}
