.App {
  text-align: center;
  font-size: large;
}

.App-header {
  width: 100%;
  height: 4em;
  color: black;
}

.App-title {
  font-weight: 700;
  font-style: italic;
  font-size: 3em;
}

@media only screen and (max-device-width : 500px) {
  .App {
    text-align: center;
    font-size: medium;
  }

  .App-header {
    width: 90%;
  }
  .App-title {
    font-weight: 700;
    font-style: italic;
    font-size: 1.2em;
  }
}
