body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-size: 1em;
}

.gif-container {
  width: 100%
}

a {
  color: blue;
  font-weight: 300;
  text-decoration: underline;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

a:hover {
  cursor: pointer;
  color: #ff00ff;
}

div {
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

li {
  display: inline-block;
}

.li-links {
  font-size: 1em;
  margin-left: .5em;
  color: blue;
  font-weight: 700;
  text-decoration: underline;
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.li-links:hover {
  cursor: pointer;
  color: #ff00ff;
}

.list {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}

.card {
  padding: .2em;
}

img {
  max-width: 400px;
  max-height: 400px;
  opacity: 1;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

img:hover {
	opacity: .5;
}

@media only screen and (max-device-width : 500px) {
  .list {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  img {
    max-width: 250px;
  }

  .card {
    padding: 0;
  }
}

@media only screen and (max-device-width : 400px) {
  img {
    max-width: 200px;
  }
}
